__pycache__
/env
dbconfig.json
*.jpg
/static/logos/*.jpg
/static/logos/*.png
/static/logos/*.gif
/static/logos/*.ico
/static/logos/*.jpeg
/static/logos/*.svg
/static/gallery/*.jpg
/static/gallery/*.png
/static/gallery/*.gif
/static/gallery/*.ico
/static/gallery/*.jpeg
/static/gallery/*.svg
/static/posters/*.jpg
/static/posters/*.png
/static/posters/*.gif
/static/posters/*.ico
/static/posters/*.jpeg
/static/posters/*.svg

