{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if error == 1 %}
<div class="alert alert-success" role="alert" style="border-style: none;border-color: var(--danger);background: rgb(235,130,130);"><span style="color: rgb(105,72,76);"><strong>The username and password you entered did not match our records. Please double-check and try again.&nbsp;</strong><br></span></div>
{%endif%}   

<div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1" style="color: var(--danger);">Login</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <form style="margin-top: 20px;" class="form-group" method="POST">
                                    {{ login_form.csrf_token }}
                                    {{ login_form.email.label }}
                                    {{ login_form.email(class= "form-control") }}
                                    <br>
                                    {{ login_form.password.label }}
                                    {{ login_form.password(class= "form-control") }}
                                    <br>
                                    {{ login_form.submit(class="btn btn-primary") }}
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <p>Content for tab 3.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}